<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Developer Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>


    <h1>Developer Skills</h1>


    <% skills.forEach(function(s, idx) { %>


        <form action="/skills/<%= idx %>?_method=DELETE" class="delete-form" method="POST">
            <table>
                <th>skill</th>
                <tr>
                    <td>
                        <a href="/skills/<%=idx%>">
                            <%= s.skill%>
                        </a>
                    </td>
                    <th>status</th>
                    <td>
                        <%= s.status ? 'status' : 'pending' %>
                    </td>
                    <tr>
                        <td>

                            <button type="submit">delete</button>

                        </td>
                    </tr>
            </table>
        </form>


        -------------------------------------



        <% }); %>

            <a href="/skills/new">Add Developer Skill</a>





</body>

</html>